.btn{
  background: transparent;
  border: 0;
  padding: 0;
  outline: 0;
  transition: .1s linear;
  &:active{
    transform: scale(.8);
  }
}
.btn-remove{
  display: flex;
  background: $danger;
  min-width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
  &:after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 6px;
    right: 6px;
    background: url("~assets/remove-icon.svg") center no-repeat;
  }
}
.btn-add{
  background: $primary;
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: relative;
  &:after{
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    top: 17px;
    right: 17px;
    background: url("~assets/add-icon.svg") center no-repeat;
  }
}
.btn-back{
  min-width: 28px;
  height: 16px;
  background: url("~assets/icon-back.svg") center no-repeat;
}
.btn-submit{
  min-width: 25px;
  height: 17px;
  background: url("~assets/icon-submit.svg") center no-repeat;
}
