.checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;

  &:checked + .checkbox-icon {
    background: $primary;
  }

  &:checked + .checkbox-icon:after {
    opacity: 1;
  }
}

.checkbox-icon {
  min-width: 22px;
  height: 22px;
  border-radius: 50%;
  background: $main;
  display: flex;
  position: relative;

  &:after {
    content: '';
    opacity: 0;
    width: 11px;
    height: 9px;
    position: absolute;
    top: 7px;
    left: 6px;
    background: url("~assets/check-icon.svg");
  }
}
