@import "variables";
@import "base/checkbox";
@import "base/button";

.container{
  margin: 0 auto;
  min-height: 100vh;
  background: $main;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
textarea{
  caret-color: $primary;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  resize: none;
  border: 0;
  width: 100%;
  min-height: 100%;
  outline: 0;
}
