<template>
  <div>
    <div class="container">
      <div class="todoList-empty"
           v-if="d_taskList.length===0"
      >Пусто
      </div>
      <div class="todo-item"
           v-for="(item,index) in d_taskList"
           :key="index"
      >
        <label class="checkbox-label">
          <input type="checkbox" class="checkbox" v-model="item.done">
          <span class="checkbox-icon"></span>
          <span class="todo-item__text"
                :class="{'todo-item_done':item.done}"
                v-html="item.text"></span>
        </label>
        <button type="button" class="btn btn-remove"
                v-if="item.done"
                @click="removeTodoItem(index)"
        ></button>
      </div>

        <button type="button" class="btn btn-add"
                @click="showModal()"
        ></button>

    </div>
    <div class="modal"
         v-if="d_modalActive"
    >
      <div class="modal__btns">
        <button type="button" class="btn btn-back"
                @click="closeModal()"
        ></button>
        <button type="button" class="btn btn-submit"
                @click="addNewTask()"
        ></button>
      </div>
      <textarea class="modal__textarea" placeholder="Выпить стакан воды..."
                v-model="d_task"
                v-focus
      ></textarea>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      d_modalActive: false,
      d_taskList: [],
      d_task: "",
    };
  },
  directives: {
    focus: {
      inserted: function (el) {
        el.focus();
      }
    }
  },
  watch: {
    d_modalActive(val) {
      if (val) {
        document.addEventListener("deviceready", this.onDeviceReady, false);
      } else {
        document.removeEventListener("deviceready", this.onDeviceReady, false);
        document.removeEventListener("backbutton", this.onBackKeyDown, false);
      }
    }
  },
  methods: {
    onDeviceReady() {
      document.addEventListener("backbutton", this.onBackKeyDown, false);
    },
    onBackKeyDown(e) {
      if (this.d_modalActive) {
        e.preventDefault();
        this.closeModal();
      }
    },
    closeModal() {
      document.documentElement.style.overflowY = "auto";
      this.d_modalActive = false;
      this.d_task = "";
    },
    showModal() {
      document.documentElement.style.overflowY = "hidden";
      this.d_modalActive = true;
    },
    addNewTask() {
      if (this.d_task) {
        this.d_taskList.push({
          text: this.d_task.replace(/\n/g, "<br/>"),
          done: false,
        });
      }
      this.closeModal();
    },
    removeTodoItem(index) {
      this.d_taskList.splice(index, 1);
    }
  },
};
</script>

<style lang="scss">
.container {
  padding: 30px 15px 113px;
}

.todoList-empty {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -12px;
  color: rgba($text, .8);
  text-align: center;

}

.todo-item {
  background: $grey;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  color: $text;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    word-break: break-word;
  }

  &_done {
    text-decoration: line-through;
    color: rgba($text, .6);
  }

  &:last-child {
    margin-bottom: 0;
  }

  .checkbox-label {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .checkbox-label, .checkbox-icon {
    margin-right: 15px;
  }
}

.btn-add {
  position: fixed;
  bottom: 50px;
  left: 50%;
  margin-left: -31px;
}

.modal {
  background: $main;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  height: 100vh;

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
</style>
